controller_manager:
  ros__parameters:
    t_clip_min: 0.1
    t_clip_max: 6.0
    # m_l1: 0.583
    # q_l1: -0.167
    m_l1: 0.575
    q_l1: 0.04
    speed_lookahead: 0.0
    lat_err_coeff: 0.2
    # acc_scaler_for_steer_safe: 1.2
    # dec_scaler_for_steer_safe: 0.9 
    # acc_scaler_for_steer_aggressive: 1.1
    acc_scaler_for_steer: 1.2
    dec_scaler_for_steer: 1.1
    # start_scale_speed: 7.0
    # end_scale_speed: 8.0

    start_scale_speed: 5.0
    end_scale_speed: 7.0
    # downscale_factor: 0.05
    downscale_factor: 0.05

    # increasing this to 0.20 AT MOST can make the car faster on the laptime but cut more corners
    speed_lookahead_for_steer: 0.04 # safe/agg 0.0/0.175

    ## Acceleration Based Velocity Controller Parameters
    vel_accel_mode: False
    vel_ctr_p_gain: 8.0
    vel_ctr_i_gain: 0.0
    vel_ctr_d_gain: 0.5

    ## Trailing Controller Parameters
    allow_accel_trailing: False
    trailing_mode: True #True = Distance, False = Time
    prioritize_dyn: True
    trailing_gap: 2.5 # Distance in meters or gap in seconds, depending on mode
    # trailing_p_gain: 1.0
    trailing_p_gain: 0.3
    trailing_i_gain: 0.0
    trailing_d_gain: 0.2
    blind_trailing_speed: 0.5

    trailing_to_gbtrack_speed_scale: 0.3 # trailing to gbtrack 상태에서 속도 스케일링 계수 (0.0~1.0) -> speed_scale.yaml의 speed scale이 적용된 값에 이 값이 추가 적용되는 것



    # 11.21 파라미터

    # speed_adjust_lat_err 함수 참고
    curvature_scale: 1.0

    # speed_adjust_heading 함수 참고
    ok_thresh: 20.0 #heading error 최대 허용치 (deg)
    hard_thresh: 90.0 #최대 heading error (이 이상의 heading error에는 동일한 패널티 적용) (deg)
    min_scale: 0.8 # 최대 패널티 (80%의 감속된 속도로 주행)

    # calc_steering_angle 함수 참고
    steer_rate_tresh: 0.4 #조향 변화량 임계치